<nav class="navbar navbar-expand-lg navbar-dark bg-custom py-3">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.jpeg', alt: 'Nome da Empresa', class: 'logo' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item me-3">
          <%= link_to 'Início', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Serviços
          </a>
          <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
            <li><%= link_to 'Abra sua Empresa', '#', class: 'dropdown-item' %></li>
            <li><%= link_to 'Deixe de ser MEI', '#', class: 'dropdown-item' %></li>
            <li><%= link_to 'Serviço 3', '#', class: 'dropdown-item' %></li>
            <li><%= link_to 'Serviço 4', '#', class: 'dropdown-item' %></li>
          </ul>
        </li>
        <li class="nav-item me-3">
          <%= link_to 'Quem Somos Nós', about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item me-3">
          <%= link_to 'Blog', blogs_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
